<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% @items.each do |item| %>
        <div class="media">
          <div class="media-body">
       <h4 class="media-heading">
         <p><%= item %></p>
       </h4>
     </div>
    </div>
  </div>
   <% end %>
