// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3{
  border-bottom:green solid 2px;
  padding-bottom:5px;
  margin-bottom:10px;
}
